{% extends "base.html" %}
{% block content %}
<div class="table">
    <div class="row">
        <input class="box" type="number" name="num" id="1">
        <input class="box" type="number" name="num" id="2">
        <input class="box" type="number" name="num" id="3">
        <input class="box" type="number" name="num" id="4">
        <input class="box" type="number" name="num" id="5">
    </div>
    <div class="row">
        <input class="box" type="number" name="num" id="6">
        <input class="box" type="number" name="num" id="7">
        <input class="box" type="number" name="num" id="8">
        <input class="box" type="number" name="num" id="9">
        <input class="box" type="number" name="num" id="10">
    </div>
    <div class="row">
        <input class="box" type="number" name="num" id="11">
        <input class="box" type="number" name="num" id="12">
        <input class="box" type="number" name="num" id="13">
        <input class="box" type="number" name="num" id="14">
        <input class="box" type="number" name="num" id="15">
    </div>
    <div class="row">
        <input class="box" type="number" name="num" id="16">
        <input class="box" type="number" name="num" id="17">
        <input class="box" type="number" name="num" id="18">
        <input class="box" type="number" name="num" id="19">
        <input class="box" type="number" name="num" id="20">
    </div>
    <div class="row">
        <input class="box" type="number" name="num" id="21">
        <input class="box" type="number" name="num" id="22">
        <input class="box" type="number" name="num" id="23">
        <input class="box" type="number" name="num" id="24">
        <input class="box" type="number" name="num" id="25">
    </div>
    <br>
    <button class="check" onclick="checkBingo()">Check</button>
</div>

{% endblock %}